@import url('https://fonts.googleapis.com/css?family=Istok+Web:400,400i,700&display=swap&subset=cyrillic');

/*///////////////////////////////////////////////////////////////
[ Table ]*/
.table-name {
    border-collapse: collapse;
    border: 1px solid #d4d4d4;
    margin: 0 auto;
    background: white;
    overflow: hidden;
    width: 100%;
    position: relative;
    text-align: center;
    margin: 6px 0px;
}

.column1-employee {
    width: 10%;
}

.column2-employee {
    width: 12%;
}

.column3-employee {
    width: 12%;
}

.column4-employee {
    width: 20%;
}

.column6-employee {
    width: 15%;
}

.table-name th{
    background: rgb(79, 157, 221);
    text-shadow: 0 1px 0 #38678f;
    color: white;
    border: 1px solid #5694ca;
    box-shadow: inset 0px 1px 2px #568ebd;
    height: 34px;
    transition: all 0.2s;
    padding-left: 10px;
    padding-right: 10px;

}

.table-name td{
    height: 90px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #d4d4d4;
    background: #ffffff;
    color: #222;
    
}

.table-name tr{
    border: 1px solid #d4d4d4;
    font-weight: 400;
    line-height: 1.5;
    
}

.table-name td:hover {
    background-color: #f7f7f7;
}
  