.card.bg-light {
    cursor: pointer;
    max-width: 16rem;
}

.card.bg-light .card-header{
    padding: 0.35rem 0.55rem;
}

.card.bg-light .card-body {
    padding: 0.65rem;
}

.card-body > h5 {
    color: #4F9DDD;
    margin-bottom: 0.05rem;
}

.selected > h5 {
    color: #ffffff;
    margin-bottom: 0.05rem;
}

.selected {
    background-color: #4F9DDD;
}