.person-details {
    padding: 0.25rem;
}

.person-details .person-image {
    width: 30%;
    height: 30%;
    border-radius: 10px;
}

.person-details .list-group-item {
    padding: .25rem;
}

.person-details .list-group-item .term{
    margin-right: .5rem;
}

.modal .modal-dialog {
    max-width: 600px;
}



